.transition (@property, @duration, @function: ease, @delay: 0s) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -o-transition: @arguments;
    -ms-transition: @arguments;
    transition: @arguments;
}

.fill-parent {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

//.dancer { width: 160; height: 120; }
#dances {
  overflow: hidden;

  .dance {
    position: relative;
    margin: -2px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
  }

  .dancer {
  }
}

.dance:last-child {
  display: none;
}

.photobooth_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#photobooth {
  @padding: 25px;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 320px;
  height: 370px;
  padding: @padding;
  border-radius: 10px;
  box-shadow:
    0 0 25px black;
  text-align: center;
  z-index: 5;
  display: none;
  white-space: nowrap;

  &.active {
    display: block;
  }

  h1 {
    margin: 0;
    margin-bottom: @padding;
    font-size: 1.75em;
    letter-spacing: -.05em;
  }

  .btn {
    display: none;
    margin: @padding 10px;
    font-size: 1.5em;
  }

  #preview {
    position: relative;
    width: 320px;
    height: 240px;
    background: #eee;
    border-radius: 5px;
    overflow: hidden;

    &:after {
      content: '';
      .fill-parent;
      box-shadow: 0 0 40px rgba(0, 0, 0, .3) inset;
      z-index: 10;
    }

    .gif {
      .fill-parent;
      opacity: 0;
    }
  }

  .btn#hide-booth {
    background: gray;
  }

  &.state-no-camera {
    .btn#start-camera, .btn#hide-booth {
      display: inline-block;
    }

    #preview:before {
      content: '';
      .fill-parent;
      background: url("images/danceparty/static.gif");
      opacity: .25;
    }
  }

  .btn#record {
    .transition(all, .25s);
  }

  &.state-camera-ready {
    .btn#record {
      display: inline-block;
      width: auto !important;
    }
  }

  &.state-recording, &.state-processing {
    .btn#record {
      display: inline-block;
      text-indent: -9999px;
      position: relative;
      width: 0%;
      height: 10px;
      margin: 0;
      margin-top: 30px;
    }
  }

  &.state-recording {
    .btn#record {
      display: inline-block;
      background: lightgreen;
    }
  }

  &.state-processing {
    .btn#record {
      display: inline-block;
      background: lightgreen;
    }
  }

  .btn#redo-gif {
    background: gray;
  }

  .btn#upload-gif {
    background: green;
  }

  &.state-gif-ready {
    box-shadow:
      0 0 25px black,
      0 0 300px 100px fade(lightgreen, 50%);

    #preview .gif {
      opacity: 1;
    }

    .btn#upload-gif, .btn#redo-gif {
      display: inline-block
    }
  }
}

.btn {
  font-weight: bold;
  color: white;
}

.btn#show-booth {
  background: gray;
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: block;

  &:active {
    display: block;
  }
}

