<% set_default("dancers", []) %>

<div class="clearfix container-fluid">
  <div class="row-fluid">
    <div class="photobooth_wrapper">
      <div id="photobooth" class="clearfix">
        <h1>show me your moves!</h1>
        <div id="preview">
          <img class="gif">
        </div>
        <button id="hide-booth">no.</button>
        <button id="start-camera">start the camera!</button>
        <button id="record">let's dance!</button>
        <button id="redo-gif">redo</button>
        <button id="upload-gif">upload</button>
      </div>
    </div>
  </div>
  <div class="clearfix" style="overflow: hide" id="dances">
      <% _.each(dancers, function(dance) { %>
        <div class="dance">
          <img class="dancer" src="danceparty/<%= dance %>" title="" />
        </div>
      <% }); %>
  </div>

</div>
